.main {
  height: 100%;
}

.main_sidebar_sticky {
  position: fixed;
  top: 25px;
  height: auto;
  min-height: 100%;
  width: 300px;
  background-color: rgb(247, 247, 247);
  z-index: 2;
}

.main_sidebar_sticky_placeholder {
  width: 300px;
}

.main_table_container {
  height: 100%;
}