.main {
  display: flex;
  height: calc(100% - 60px);
  background-size: cover;
}

.main_bg_image0 {
  background-image: url('../../../static/430d4545-14ca-46ae-b059-94732a8eb9fd.jpg');
}

.main_bg_image1 {
  background-image: url('../../../static/6e0f1481-79be-469b-9026-1d18892d117c.jpg');
}
