.table_placeholder_container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  }

.table_placeholder {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.table_placeholder_icon {
  transform: scale(3) translate(0, -10px);
}
