.sidebar_table_item {
  position: relative;
  background-color: transparent;
  cursor: pointer;
}

.sidebar_table_item_btn {
  position: relative;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.sidebar_table_item:hover {
  position: relative;
  z-index: 0;
}

.sidebar_table_item:hover::before {
  position: absolute;
  content: " ";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  background-color: rgb(166, 166, 166);
  z-index: -1;
}

.sidebar_table_item:active {
  background-color: rgb(113, 113, 113);
}

.sidebar_table_item:focus {
  border: rgb(111, 111, 111);
}


.sidebar_table_item_options {
  border-radius: 3px;
}

.sidebar_table_item_options:hover {
  background-color: rgb(170, 170, 170);
}

.sidebar_table_item_options:active {
  background-color: rgb(105, 105, 105);
}

.sidebar_table_item_options:focus {
  border: rgb(82, 82, 82);
}


.sidebar_options_dropdown_menu {
  position: absolute;
  z-index: 1001;
}